<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Normal Space Time</title>
</head>
<body>
    <h1>Normal Space</h1>
    <p>You were absent for <%= years %> years, <%= months %> months, <%= days %> days.</p>
    <a href="/quantum">Go to Quantum Time</a>
</body>
</html>