@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.container {
    display: flex;
    gap: 5px;
}


.data {
    margin-top: 0;
    font-family: Lato;
    font-weight: 700;
    background: #5290B0;
    color: white;
    font-size: 1.5em;
}



.temperature {
    margin-top: 0;
    font-family: Lato;
    font-weight: 400;
    font-size: 2em;
    margin-bottom: 0;
}

p {
    text-align: center;
}

.weather:hover {
    -webkit-box-shadow: 1px 1px 27px -10px rgba(66, 68, 90, 1);
    -moz-box-shadow: 1px 1px 27px -10px rgba(66, 68, 90, 1);
    box-shadow: 1px 1px 27px -10px rgba(66, 68, 90, 1);
}

