* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}


h1 {
    margin-top: 30px;
    text-align: center;
}
.container {
    display: grid;
    width: 1000px;
}

.main-card {
    margin-top: 20px;
    background-color: #e6e6e6;
    border-radius: 5px;
    display: flex;
}

.title-information {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 40px;
    gap: 30px;

}

img {
    display: inline;
}

.buttons-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    gap: 10px;

    width: 450px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 5px;
    position: relative;
}

.buttons-list:first-child {
    padding-top: 25px;
}

.buttons-list::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 98%;
    top: 4px;
    right: 0;
    background-color: white;
}



.tablinks {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 100%;
    min-width: fit-content;

    height: 40px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    position: relative;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2px;
}

.tablinks:hover:after {
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    left: 10px;
    top: 0;
    background-color: #0881e4;
}

.title {
    padding-top: 30px;
}

.actors-cards {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.actor {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: 70px;
    border-radius: 5px;
    background-color: #0385d7;
    color: white;
}

.description {
    padding-top: 20px;
}

.photo {
    margin-bottom: 120px;
    padding-right: 15px;
    padding-top: 15px;
}

.taro {
    background-color: #6a3d2c;
}

.gun {
    background-color: #35302c;
}

.tabcontent {
    display: none;
}